.empresab * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.empresab .bannerDesktop {
    width: 100%;
    height: 80vh;
    object-fit: cover;
    display: none;
}

.empresab .bannerMobile {
    width: 100%;
}

.empresab {
    text-align: center;
}

.empresab h2 {
    padding: 40px 0;
    font-size: 1.8rem;
    font-weight: bolder;
}

.empresab p {
    width: 90%;
}

.empresab .responsabilidad div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 50px auto;
}

.empresab .responsabilidad div p {
    width: 100%;
    padding: 20px;
}

.empresab .responsabilidad div img{
    width: 100%;
}

.empresab .carbono {
    background-color:#f6f6f6;
}

.empresab section div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.empresab section div article {
    width: 100%;
    text-align: center;
    margin: 40px 0
}


.empresab section div article h2 {
    padding: 0;
    font-size: 24px;    
}

.empresab section div article p {
    margin-top: 10px;
    width: 100%;
}

.empresab section div article span {
    color: #41b696;
    font-size: 14px;    
}

.empresab .carbono .logos img {
    width: 30%;
}

.empresab .carbono .logos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60%;
    padding-bottom: 40px;
    margin: 0 auto;
}

.empresab .adicional div{
    display: flex;
    justify-content: center;
    align-items: end;
}

.empresab .adicional img {
    width: 40%;
}

.empresab .adicional h3 {
    margin-top: 20px;
}

@media (min-width: 768px) {     
    .empresab .bannerDesktop {
        display: block;
    }

    .empresab .bannerMobile {
        display: none;
    }

    .empresab p {
        width: 60%;
        margin: 0 auto;
    }
    
    .empresab .responsabilidad div {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 90%;
        margin: 50px auto;
    }
    .empresab .responsabilidad div img {
        width: 450px;
        height: 300px;
    }

    .empresab section div {
        display: flex;
        flex-direction: row;
        width: 80%;
        justify-content: space-between;
        margin: 40px auto;
    }
    .empresab .carbono .logos img {
        width: 30%;
    }

    .empresab .carbono .logos {
        width: 40%;
    }
}
