.kluv * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

.kluv h1, .kluv h2 {
    text-align: center;
    margin: 40px 0;
}

.kluv .banner {
    width: 100%;
}

.kluv p {
    width: 100%;
    margin: 20px auto;
    text-align: center;
}

.kluv .imagenes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 100%;
}

.kluv .imagenes img {
    width: 100%;
    height: 100% !important;
    object-fit: cover;
}

.kluv .unirse {
    text-align: center;
    margin: 40px 0;
    background-color: #f2f2f2;
    padding-bottom: 40px;
}

.kluv .unirse h2 {
    padding-top: 30px;
}

.kluv .logos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    width: 100%;
    margin: 20px auto;
}

.kluv .logos img {
    width: 40%;
    margin: 20px auto;
    padding: 20px 0;
}

.kluv .final {
    text-align: center;
    margin: 70px 0 40px;
}

.kluv .final h2 {
    font-size: 32px;
}

@media (min-width: 768px) {
    .kluv .banner {
        height: 80vh;
        object-fit: cover;
    }

    .kluv p {
        width: 60%;
    }
    
    .kluv .imagenes {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .kluv .unirse input {
        width: 300px;
    }

    .kluv .logos {
        grid-template-columns: repeat(4, 1fr);
        width: 80%;
    }
}
